@(searchForm: Form[Entry], postUrl: Call)(implicit request: MessagesRequestHeader)

@import helper._

@implicitfield = @{ helper.FieldConstructor(navSearchField.f) }

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="#">Rent Control</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/map">Map</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/listings">Listings</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/about">About</a>
			</li>
		</ul>
		@helper.form(postUrl, 'class -> "form-inline my-2 my-lg-0") {
			@helper.CSRF.formField
			@helper.input(searchForm("zipcode")) { (id, name, value, args) =>
				<input type="text" name="@name" id="@id" class="form-control mr-sm-2" placeholder="Search" @toHtmlArgs(args)>
			}
			<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
		}
		@if(searchForm.hasGlobalErrors) {
			@searchForm.globalErrors.map { error: FormError =>
				<div>
					@error.key: @error.message
				</div>
			}
		}
	</div>
</nav>
